.main-content{
    margin-top: 1em;
}

.Second-Row{
    margin-top: 1em;
    margin-bottom: 1em;
}

body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.progress1{
    margin-bottom: 0.8em;
}

.row2-col2{
    padding-left: 2em;
}
