.nav-bar{
    padding-left:5em;
}

.text-dashboard{
    padding-right: 1.4em;
}
#dropdown-basic-button{
    margin-right: 1em;
}

@media screen and (max-width:900px)
{
    .mr-md-2{
        display:none;
       
    }

    .buttonSearch{
        display:none;
    }

    
}
